  
*{
    margin: 0;
    padding: 0;
}
.section{
    width: 100%;
    height: auto;
}
.section{
    width: 1300px;
    height: auto;
    margin: auto;
    margin-top: 90px;

    display: flex;
    flex-direction: row;
}
.perfil_izquierda{
    width: 500px;
    height: 600px;
}
.perfil_izquierda img{
    display: block;
    width:80%;
    margin: auto;
    margin-top: 50px;
    border-radius: 100%;
}
.Usuario{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-left: 0px;
    font-family:sans-serif;
}
.nombre{
    display: block;
    font-size: 20px;
    text-align: center;
    font-family: Monaco;
    margin-top: 5px;
}
.perfil_derecha{
    width: 100%;
    height: 600px;
}
.Botones{
    width: 100%;
    height: auto;
}
.nav-perfil {
    list-style: none;
    margin-top: 30px;
    font-family: Monaco;
    
    display: flex;
    flex-direction: row;
}
.nav-perfil li{
    margin-left: 10px;
    font-size: 19px;
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 2px solid #ffffff;
}
.nav-perfil li:hover{
    border-bottom: 3px solid #20088A;
    transition: 0.3s;
 }
.Destacado {
    display: none;
    width: 90%;
    height: 500px;
    margin-top: 20px;
    background-color: cyan;
}
.Proyecto {
    display: none;
    width: 90%;
    height: 500px;
    margin-top: 20px;
    background-color:lightpink;
}
.Biografia {
    display: none;
    width: 90%;
    height: 500px;
    margin-top: 20px;
    background-color:cadetblue;
}
.activarCaja{
    display: block;
    height: 500px;
}